body {
    background-color: black;
    text-align: center;
    font-family: 'Verdana';
    color: white;
}

#head-title {
    color: white;
    text-align: center;
    font-family: 'Verdana';
    font-weight: normal;
    font-size: 50px;
    padding: 5px;
}

a {
    color: aquamarine;
    font-size: 16px;
    font-family: "Verdana";
    text-decoration-line: underline;
}

a:hover{
    color: purple;
    cursor: pointer;
}

a:active{
    color: blue;
}

a:visited {
    color: red;
}

video {
    padding: 5px;
}

p {
    color: gray;
}

#eye-catcher {
    font-size: 21px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}
img {
    display: block;
    margin: auto;
    padding: 5px;
}

footer {
    text-align: right;
}